:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}

.app-header {
  position: fixed;
}

.container {
  width: 350px;
  position: absolute;
  transform: translate(-50%, 0);
  top: 10%;
  left: 50%;
  color: black;
}

.card {
  margin: 18px;
  height: 400px;
  width: 80%;
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card:hover .flip-card-inner,
.card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 16px;
  text-align: center;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-front img,
.card-back img {
  display: block;
  width: 65%;
  position: relative;
  margin: auto;
}

.card-back {
  transform: rotateY(180deg);
}

.hp {
  width: 80px;
  background-color: #ffffff;
  text-align: center;
  padding: 8px 0;
  border-radius: 30px;
  margin-left: auto;
  font-weight: 300;
}

.poke-name {
  text-align: center;
  font-weight: 600;
}

.types {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.hp span,
.types span {
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.types span {
  padding: 5px 20px;
  border-radius: 20px;
  color: #ffffff;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.stats p {
  color: #404060;
}

.btn {
  display: block;
  padding: 15px 60px;
  font-size: 18px;
  background-color: #101010;
  color: #ffffff;
  position: relative;
  margin: 30px auto;
  border: none;
  border-radius: 5px;
}
